body {
    font-family: 'Poppins', sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
} */

.flexible-containar {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-top: 10em;
}

/* section {
    background-image: url("./images/donation0.jpg");
} */
button {
    text-align: center;
    padding-left: 30px;
}

h1 {
    text-align: center;
    font-size: 60px;
    /* font-weight: 700; */
    font-family: 'Times New Roman', Times, serif;
}

/* #button-center {
    /* display: flex; 
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50;
    border: 3px solid green;
    padding-left: 50px;
 }  */

#sizer {
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-block-end: 0%; */
    text-align: center;
    color: rgb(80, 255, 10);
}

.block {
    display: block;
    width: 160px;
    height: 55px;
    padding: 0;
    color: aliceblue;
}

.margin-auto {
    margin: 0 auto;
    background-color: orangered;
    font-size: x-large;
    size: 50px;
    border-radius: 10px;
}